h1, h2, h3, p {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#citySelection {
  display: block;
  margin: auto;
  background-color: white;
}

.wrapper {
  height: 100vh;
  color: white;
  text-transform: capitalize;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin: 20%;
}
