body {
  background-color: navy;
}

h1, h2, h3, p {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#citySelection {
  display: block;
  margin: auto;
}

.wrapper {
  background-color: navy;
  color: white;
  text-transform: capitalize;
  font-family: 'Bitter', serif;
  margin: 5% 20%;
}
